replace each label of the categorical variables by the counts, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. 
Let's see how this works.

In [51]:
import pandas as pd
import numpy as np

df = pd.read_csv("mercedes.csv", usecols = ['X1', 'X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [52]:
df.shape

(4209, 2)

# one hot encoding

In [54]:
pd.get_dummies(df).shape

(4209, 71)

In [55]:
# finding unique values or x1
len(df['X1'].unique())

27

In [56]:
len(df['X2'].unique())

44

In [57]:
# let's have a look at how many labels

for col in  df.columns[0:]:
    print(col, ':', len(df[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels

In [58]:
df.X1.value_counts().to_dict()

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [59]:
# And now let's replace each label in x2 by its counts

# first we make a dictionary that maps each label to the counts
df_frequency_map = df.X1.value_counts().to_dict()

In [60]:
df.X1.head(100)

0      v
1      t
2      w
3      t
4      v
      ..
95     b
96     l
97    aa
98     b
99     s
Name: X1, Length: 100, dtype: object

In [61]:
df.X1 = df.X1.map(df_frequency_map)
df.head()

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n

In [62]:
# like in above cell show that we convert the all X1 category values into some labels that are integers